{% extends "::layout/layout.html.twig" %}


{% block body %}
    
               
 <section class="mtop"> 
                <section class="container-fluid container"> 
                    <section class="row-fluid"> 
        <div class="span3">
            <div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">menu</li>
        <li class="active">
            <a href="index.php">consulter mon profile</a>
        </li>
        <li>
            <a href="index.php">publier projets</a>
        </li>
         <li>
            <a href="index.php">suivre mes projets finance</a>
        </li>
        <li>
            <a href="index.php">afficher les different projets</a>
        </li>
        
    </ul>
</div>        </div>
        
        <div class="span9">

            

            <div class="pagination">
                <ul>
                    <li class="disabled"><span>Précédent</span></li>
                    <li class="disabled"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Suivant</a></li>
                </ul>
            </div>

        </div>
    </div>

                    </section>
                </section>
 </section>
    {% endblock %}